* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    position: absolute;
    background-color: hsl(0, 0%, 10%);
    height: 100vh;
    width: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container button {
    font-size: 5rem;
    color: black;
}

.mid-row {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.mid-col {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

#table {
    border-spacing: 0px;
}

#table td {
    text-align: center;
    height: 125px;
    width: 120px;
    padding: 10px 20px;
}

.game-cell {
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%,10%);
    border: none;
    cursor: pointer;
    text-decoration: line-through;
}

.game-cell-notallowed {
    cursor: not-allowed;
    background-color: hsl(0, 0%, 10%);
    border: none;
}

#winner-heading {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;

    width: 100%;
    font-weight: bold;
    font-size: 3rem;
}