/* Intro Section */
#intro_section div {
    background-color: hsl(23, 38%, 88%);
    padding: 4.5em 0;
    text-align: center;
}

#intro_section div h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0.4em;
}

#intro_section div p {
    margin-top: 10px;
    font-size: 1.5rem;
}

/* Info Section */
.advertisement_heading {
    font-size: 3.5rem;
}

.advertisement_lorem {
    font-size: 1.2rem;
}

.info-interval-bar {
    background-color: var(--accent-col);
    padding: 3em 0;
}

.info-interval-bar h1 {
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}
