* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numInput {
    width: 10em;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

#subButton {
    padding: 5px;
    border-radius: 10px;
}